.mt-4
  .w-50.mx-xl-auto
    .mt-3
      = simple_form_for(@post) do |f|
        = f.input :content, input_html: { rows: 4 }, maxlength: 140, label: false, placeholder: '140字以内で入力してください'
        %p= posted_image(@post.image)
        = f.button :submit, class: 'btn btn-primary disabled'
      .d-flex.justify-content-end
        = button_to '削除', post_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-danger'
