.card.w-75.mx-auto.mt-3
  .card-body
    .card-body
      .card-title
        %span.fs-2= @user.name
        .card-text= @user.profile
        %p.card-text.text-muted.mt-2= "#{l @user.created_at, format: :short}からminiblog利用しています"
        .d-flex.justify-content-evenly
          = link_to "#{@user.following.count}フォロー", following_user_path(@user), class: 'text-reset me-2'
          = link_to "#{@user.followers.count}フォロワー", followers_user_path(@user), class: 'text-reset'
          - if current_user == @user
            = link_to 'プロフィール編集', edit_user_path(current_user), class: 'btn btn-primary mb-2 ms-auto'
          - else
            = render 'follow_form', user: @user
= render @posts
