miniblog

いつもminiblogをご利用いただき、誠にありがとうございます。

昨日のいいね数ランキングTOP10の投稿をご紹介します。

- if @top_10_posts.blank?
  前日にいいねされた投稿はありませんでした。
- else
  - @top_10_posts.each.with_index(1) do |group, i|
    - post_id, like_count = group
    - post = Post.find(post_id)
    = "【#{i}位】 #{post.user.name}さんの投稿: 「#{post.content}」 いいね数: #{like_count}"

  他にも素晴らしい投稿がたくさんありますので、ぜひご覧ください。
